* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 2vw;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #D8D8D8;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.furima-icon {
  width: 10vw;
  margin-right: 10vw;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #3ccace;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

header .nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

header .lists-left {
  display: flex;
  min-width: 200px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 24px;
}

header a {
  color: #666;
  margin-top: 5px;
}

header .category-list {
  text-decoration: none;
  margin-right: 3vw;
}

header .brand-list {
  text-decoration: none;
}

header .lists-right {
  display: flex;
  list-style: none;
}

header .user_nav {
  position: relative;
  height: 100px;
  right: 0;
}

header span {
  top: 5px;
  display: block;
  float: left;
  margin-left: 30px;
  width: 160px;
  height: 50px;
  font-size: 1em;
  cursor: pointer;
  position: relative;
  padding-left: 15px;
  color: #666;
  z-index: 2;
}

header span:after {
  content: '▼';
  font-size: .7em;
  margin-left: -4px;
}

header ul.lists-right span:hover ul {
  color: #57C3E9;
  display: block;
}

header ul.lists-right ul {
  display: none;
  position: absolute;
  top: 46px;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}

header ul.lists-right ul li {
  background-color: #f0f0f0;
}

header ul.lists-right ul li a {
  display: block;
  padding: 10px 20px;
  text-align: left;
  border-bottom: 1px solid #d8d8d8;
}


header .user-nickname {
  text-decoration: none;
  font-weight: bold;
}


.logout {
  text-decoration: none;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
}

.sign-up {
  text-decoration: none;
}