a {
  text-decoration: none;
  color: #666;
}

.main {
  background: #f8f8f8;
}

/* 画面上部の「コーヒー体験をレビューしよう」帯部分 */
.title-contents {
  width: 100vw;
  background-image: image-url('coffee-top.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 7vh;
  color: bisque;
}

.service-explain {
  font-size: 4vh;
  line-height: 40px;
}
/* //画面上部の「コーヒー体験をレビューしよう」帯部分 */

/* CafeTimesの活用法 */
.how-to-use {
  padding: 5vh 15vw;
}

.how-to-use >.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.how-to-use >.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #3ccace;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.use-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.use-lists > .list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.list-pict {
  margin-bottom: 20px;
  width: 100%;
}

.use-list-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  background-color: firebrick;
  color: #fff;
}

.use-list-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}

.use-list-blue-text {
  color: firebrick;
}

.use-list-description {
  font-size: 18px;
  margin-top: 20px;
}
/* //CafeTimesの活用法 */

/* ユーザー投稿一覧 */
.review-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  padding: 0 15vh;
}

.review-contents-show {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  padding: 0 25vh;
}

.review-contents > .title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.review-contents > .end {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-top: 5vh;
  position: relative;
}

.review__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.review-main {
  width: calc((100% - 25px) / 2);
  height: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1vh;
  position: relative;
}

.review-main-show {
  height: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1vh;
  
}

.form-wrap-top {
  width: 100%;
  background-color: white;
  margin-top: 10px;
  border: 1px solid #ddd;
}

a.to-show{
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* //ユーザー投稿一覧 */


/* タブレット・スマホ表示時 */
 @media (max-width: 1024px){
 
/* CafeTimesの活用法 */
  .list-pict {
    margin-bottom:  0px;
  }

  .use-list-description {
    margin-top: 0px;
    margin-bottom: 30px;
  }

/* //CafeTimesの活用法 */


/* ユーザー投稿一覧 */
  .review-main {
    width: 100%;
    margin-bottom: 25px;
  }

  .use-lists > .list {
    width: 100vh;
  }
/* //ユーザー投稿一覧 */

/* 投稿詳細 */
.review-contents-show {
  padding: 0 ;
}
/* //投稿詳細 */

.review-main-show {
  width: 100%;
  margin-bottom: 25px;
}

}

@media (max-width: 599px){

  .review-contents {
    padding: 5vh 0;
  }
}