<%= render "shared/header" %>

<%# 画面上部の「コーヒー体験をレビューしよう」帯部分 %>
<div class='title-contents'>
  <h2 class='service-title'>
    コーヒー体験をレビューしよう
  </h2>
  <p class='service-explain'>
    CafeTimesは自身のコーヒー体験と向き合える
  </p>
  <p class='service-explain'>
    記録アプリです
  </p>
</div>
<%# /画面上部の「コーヒー体験をレビューしよう」帯部分  %>

