/* レビュー投稿 */

.numerical-information {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.numerical-text {
  /* min-width: 170px; */
  display: flex;
  align-items: center;
  width: 60%;
}

.unit {
  font-size: 18px;
}

.numerical-input {
  height: 30px;
  text-align: right;
  padding-right: 10px;
  width: 20%;
}

/* /販売価格 */