<%= render "shared/header"%>

<%# レビューの一覧 %>
<div class='review-contents'>
  <h2 class='title'>ユーザー投稿一覧</h2>
  <div class="review__wrapper">
    <%= render "shared/reviews" %>
  </div>
</div>
<%# //レビューの一覧 %>