<%= render "shared/header"%>

<%# ページタイトル %>
<h1 class='page-title'>
  レビューの詳細
</h1>
<%# //ページタイトル %>


<%# レビューの詳細 %>
<div class='review-contents-show'>
  <%= render "shared/review" %>
</div>
<%# //レビューの詳細 %>