.card-user-index {
  position: relative;
  width: calc((100% - 48px) / 3);
  margin-bottom: 25px;
  margin-right: 16px;
  background-size: cover;
  background-position: center;
  height: 100px;
  z-index: 1;
  background-color: antiquewhite;
}

.card-user-index p{
  position: absolute;
  left: 5px;
  top: 2px;
  margin: 0;
  font-size: 15px;
  z-index: 2;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.card-user-index p span{
  display: block;
  font-size: 12px;
  color: #aaa;
  text-shadow: none
}

 /* タブレット表示時 */
 @media (max-width: 1024px){
  .inner {
    width: 90%;
    margin: 20 auto;
  }

  .card-user-index {
    width: 48%;
    margin-bottom: 40px;
  }
}

 /* スマホ表示時 */
 @media (max-width: 599px) {

  .card-user-index {
    width: 100%;
    margin-bottom: 25px;
  }
 }